/* 
    Document   : addItem
    Created on : Aug 30, 2012, 1:39:42 AM
    Author     : jaykrish
    Description:
        Purpose of the stylesheet follows.
*/

#newsales_contents
{
    position: absolute;
    left:145px;
    margin: 20px;
}
#options
{
    width:400px;
    height:50px;
}

#order_head{
    width: 1000px;
    height: 200px;
    background: #eeeeee;
    box-shadow:3px 3px 5px #999;
    border-radius: 5px;
    
}