.pagination_desc
{
    margin-left: 15px;
    margin-top: 10px;
    color: black;
}

.pagination_desc strong
{
    color: black;
}

.pagination #current
{

    color: blue;
    font-size: 120%;
    font-weight: bold;
    padding-top: 5px;
}

.pagination a
{

    margin: 1px;
    text-decoration: none;
    color: black;
    font-size: 80%;
    text-align: center;
    padding-top: 10px;
    font-weight: 300;
    height:35px;
    width: 35px;
    display: block;
    float: left;
    background-image: url("../../images/raw_hover.png");
    background-repeat: repeat-x;
}

.pagination a:hover
{
    font-size: 120%;
    background-image: url("../../images/raw_dark.png");
    background-repeat: repeat-x;
    padding-top: 5px;
}

.pagination img
{
    vertical-align: -2px;
}

.pagination ul {
    list-style: none;
}

.pagination ul li{
    display: inline;
    padding: 5px;

}

