/* 
    Document   : indexItem
    Created on : Aug 30, 2012, 1:38:44 AM
    Author     : jaykrish
    Description:
        Purpose of the stylesheet follows.
*/

#item_index
{
    position: absolute;
    left:125px;
    width:1070px;
    height:600px;
    background-color:#F0F0FF;
    

}

