/* 
    Document   : listItem.css
    Created on : Aug 26, 2012, 2:41:37 PM
    Author     : jaykrish
    Description:
        Purpose of the stylesheet follows.
*/
#listitem_contants
{
    position: absolute;
    left:145px;
    margin: 20px;
}
#options
{
    width:400px;
    height:50px;
}


