/* 
    Document   : listItem.css
    Created on : Aug 26, 2012, 2:41:37 PM
    Author     : jaykrish
    Description:
        Purpose of the stylesheet follows.
*/
#item_list
{
    position: absolute;
    left:125px;
    width:400px;
    height:600px;
}
#table_options
{
    width:400px;
    height:50px;
}
#item_list_table
{
    width:400px;
    height:auto;
    
      
}

#item_list_table tr.list_table_row_top
{
    
    height: 40px;
    background-color: #EBF2FF;
border: 0px;
}

#item_list_table tr.list_table_row
{
      height: 30px;
border: 0px;
}

#item_list_table td.no
{
    width:50px;
    height: 30px;
   text-align: center;
   
   background-image: url("../../images/raw_back.png");
 background-repeat: repeat-x;
 
      border-left:2px solid;
    border-color: #E8E8E8;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
  
}

#item_list_table td.name
{
    width:200px;
    height: 30px;
 background-image: url("../../images/raw_back.png");
 background-repeat: repeat-x;
}

#item_list_table td.nos
{
    width:50px;
    height: 30px;
  background-image: url("../../images/raw_back.png");
 background-repeat: repeat-x;
}

#item_list_table td.price
{
    width:100px;
    height: 30px;
    text-align: right;
     background-image: url("../../images/raw_back.png");
 background-repeat: repeat-x;
 
   border-right:2px solid;
    border-color: #E8E8E8;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
  
}

.items tr
{
    /* background-image:url(../../images/menu_selected.png);*/

    border:5px solid;
    border-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
}

.items tr:hover
{
    background-color: #fff;
}

.items td
{
    padding: 12px 15px;
    border-bottom: 1px dotted #999;
}

.items td.name,
.items td.description
{
    border-right: 1px dotted #999;
}

.items .name
{
    color: #524F46;
    font-weight: bold;
    width: 30%;
}

.items .description
{
    color: #d2813f;
    width: 30%;
}

.items .position
{
    padding: 0;
    color: #524F46;
    width: 40%;
}

.items .name a
{
    padding: 12px 15px;
    display: block;
    text-decoration: none;
}

.items .name a:hover
{
    text-decoration: underline;
}


