/* 
    Document   : showItem
    Created on : Jan 7, 2013, 12:54:19 PM
    Author     : jaykrish
    Description:
        Purpose of the stylesheet follows.
*/

#showitem_contents
{
    position: absolute;
    left:145px;
    margin: 20px;
}

#options
{
    width:400px;
    height:50px;
}
#showitem_contents  table{
    width: 400px;
}

#showitem_contents  table tbody tr{
    height: 25px;
}

#showitem_contents  table tbody tr th  
{
    width: 140px;

}

#showitem_contents  table tbody tr td  
{
    height: 25px;
    font-size: 16pt;
    font-weight: 300;
    margin: 2px;

}
#showitem_contents  table tbody tr .currency
{
    text-align: right;

}
#showitem_contents  table tfoot tr td button {
    height: 54px;
    display: block;
    float: left;
    color: black;
    font-size: 16px;
    font-weight: 800;
    border-radius: 10px;
    background-image:url(../../images/menu_back.png);
    background-repeat:repeat-x;
    padding: 10px;
    margin-left: 20px;
}
#showitem_contents  table tfoot tr td button:hover {
    background-image:url(../../images/menu_hover.png);
    background-repeat:repeat-x;
    padding: 10px;
}