/* Design by Jay Krish */

body 
{
    margin: 0;
    padding: 0;
    text-align: left;
    font: 16px Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #061C37;
    /*  background: #F2F2F2;*/

}
*
{
    margin: 0 auto 0 auto;
    text-align:left;
}

#main_container
{
    display: block; 
    height:auto;
    position: relative; 
    width: 1200px;

    border:1px solid;
    border-color:#768b9b;
}


#main_header
{
    height:50px;
    width:1200px;
    background-color: #EBF2FF;

}

#main_header h1
{
    position:absolute;
    text-align:left;
    color:#FFFFFF;
    font-size:30px;
    color:#FFF;	
    left:14px;
    top:10px;
}


#main_header h2
{
    position:absolute;
    text-align:right;
    color:#EAEAEA;
    left:600px;
    top:30px;
    width:400px;
    font-size:15px;
}


.off
{
    color:#000000;
}


#main_menu
{
    display:block;
    width:1200px;
    height:54px;

    background-image:url(../images/menu_back.png);
    background-repeat:repeat-x;
}


#main_content
{
    width:1200px;
    height:600px;
    
    /* background:#E8E8E8;*/

    /* border:5px solid;
     border-color: #D5E3FF;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius:10px;
     -moz-border-radius:10px; /* Firefox 3.6 and earlier */
}

#main_footer
{
    width:auto;
    height:10px;    
    background-color: #7396a9;  
}

#main_footer h3 a,#main_footer h3 a:visited
{
    position: absolute;
    left:880px;
    font-size:8px;
    color: black;
}


#main_menu ul 
{
    list-style: none;
    padding: 0px;
    margin-left:auto;
    width:960px;
}

#main_menu li 
{
    list-style: none;
    padding: 0px;	
    display: inline; 

}

#main_menu a 
{
    float: left;
    height: 54px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding-top: 18px;
    font-size: 15px;
    padding-left:13px;
    padding-right:13px;

}

#main_menu a:hover
{
    background-image:url(../images/menu_hover.png);
    background-repeat:repeat-x;
    font-size: 18px;
    padding-top: 15px;
    border:0px solid;
    border-color: none;
    border-radius: 10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
}

#main_menu a#selected
{
    background-image:url(../images/menu_selected.png);
    background-repeat:repeat-x;
    font-size: 18px;
    padding-top: 15px;
    border:0px solid;
    border-color: none;
    border-radius: 10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
}

#main_content p
{

}


html, body 
{
    text-align: center;
}

p 
{
    text-align: left;
}