/* 
    Document   : listItem.css
    Created on : Aug 26, 2012, 2:41:37 PM
    Author     : jaykrish
    Description:
        Purpose of the stylesheet follows.
*/

.items
{
 width: 760px;
 margin: 0 auto;
}

.items tr
{
 /* background-image:url(../../images/menu_selected.png);*/
 
   border:5px solid;
    border-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
    -moz-border-radius:10px; /* Firefox 3.6 and earlier */
}

.items tr:hover
{
  background-color: #fff;
}

.items td
{
  padding: 12px 15px;
  border-bottom: 1px dotted #999;
}

.items td.name,
.items td.description
{
  border-right: 1px dotted #999;
}

.items .name
{
  color: #524F46;
  font-weight: bold;
  width: 30%;
}

.items .description
{
  color: #d2813f;
  width: 30%;
}

.items .position
{
  padding: 0;
  color: #524F46;
  width: 40%;
}

.items .name a
{
  padding: 12px 15px;
  display: block;
  text-decoration: none;
}

.items .name a:hover
{
  text-decoration: underline;
}


