/* 
    Document   : leftmenuItem.css
    Created on : Aug 30, 2012, 2:41:37 PM
    Author     : jaykrish
    Description:
        Purpose of the stylesheet follows.
*/
#left_sidebar
{
    position: absolute;
    width:140px;
    height:600px;
 /*   background-image:url(../../images/left_menu.png);
    background-repeat:repeat-y; */
 background-color: #f4f4f4;  

}

#left_sidebar_top
{
    height:54px;
}   



#left_sidebar_content ul 
{
    list-style: none;
    padding: 0px;

}

#left_sidebar_content li 
{

    list-style: none;
    padding: 0px;     
    height: 54px;
    width:140px;

    margin-top: 2px;
    margin-bottom: 2px;

}



#left_sidebar_content li a 
{


    height: 54px;

    display: block;
    padding-right:15px;
    text-align:center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-top: 18px;
    font-size: 15px;


}


#left_sidebar_content a:hover
{
    font-size: 18px;
    padding-top: 15px;
}

#left_sidebar_content li#selected
{
    background-image:url(../../images/left_menu.png);
    background-repeat:repeat-y;

 
}

