/* 
    Document   : list
    Created on : Oct 8, 2012, 3:55:52 AM
    Author     : jaykrish
    Description:
        Purpose of the stylesheet follows.
*/

#list_table
{
    width:600px;
    height:auto;
}
#list_table .head tr 
{
    height: 35px;
    background-image: url("../../images/raw_dark.png");
    background-repeat: repeat-x;

}
#list_table .head tr th:first-child 
{ 
    border-left: 2px solid #e5e5e5;
    border-radius:  5px;
}
#list_table .head tr th:last-child 
{ 
    border-right:2px solid #e5e5e5;
    border-radius:  5px; 
}

#list_table .body tr
{
    height: 30px;
    background-image: url("../../images/raw_light.png");
    background-repeat: repeat-x;
}

#list_table .body tr:hover
{
    height: 35px;
   background-image: url("../../images/raw_hover.png");
    background-repeat: repeat-x;


}

#list_table .body tr td:first-child 
{ 
    text-decoration: none;
    border-left: 2px solid #e5e5e5;
    border-radius:  5px;
}
#list_table .body tr td:last-child 
{ 
    border-right:2px solid #e5e5e5;
    border-radius:  5px; 
}

#list_table .body tr td a 
{ 
text-decoration: none;
color: black;
}